:root {
  --color-primary: red;
  --color-primary-dark: darkred;
  --color-white: #fff;
  --color-black: #000;
  --color-text: #777;
  --color-headers: #333;
  --status-color: white;
  --font-sans: "Albert Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --pg-bg: #f7f5f3;
  --font-size-sm: 0.9rem;
}
