:root {
  --color-primary: blue;
  --color-primary-dark: darkblue;
  --color-white: #fff;
  --color-black: #000;
  --color-text: #777;
  --color-headers: #333;
  --status-color: #000;
  --font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --pg-bg: #f8f4f0;
  --font-size-sm: clamp(0.75rem, 2vw, 0.85rem);
  --font-size-md: clamp(0.9rem, 2vw, 1rem);
}
