html {
    margin: 0;
    padding: 0;
    border: none;
    --color-primary: red;
    --color-primary-dark: darkred;
    --color-text: #777;
    --color-headers: #333;
    --status-color: white;
    --task-padding: 8px;
}

body {
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    color: var(--color-text);
    background: #fef6f1;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: var(--color-headers);
    margin-top: 0;
}

button {
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}

.btn {
    padding: 12px 15px;
    border: 0;
    background: var(--color-primary);
    color: white;
    font-size: 16px;
}

.btn:focus,
.btn:hover {
    background-color: var(--color-primary-dark);
}

input {
    background: white;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 16px;
    width: 100%;
}

nav {
    float: right;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 20px;
}
/* Modals
---------------------------------------------*/
.modal {
    background-color: white;
    min-width: 400px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.show-modal .modal {
    display: block;
}

.underlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.show-modal .underlay {
    display: block;
}

.modal--wrap {
    padding: 50px;
}

.modal--wrap * {
    margin-top: 0;
}

.modal--close {
    float: right;
}
/* Footer
------------------------------------------------*/
.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.site-container {
    padding: 30px 50px;
}
/* Board Container
------------------------------------------------*/
#board {
    display: flex;
}
/* Tasks List
------------------------------------------------*/
.status-column {
    max-width: 250px;
    width: 100%;
    margin-right: 30px;
}

.status-column--wrap {
    margin-bottom: 20px;
}

.status-column header {
    background-color: var(--status-color);
    padding: 10px 16px;
    margin: 0 0 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.status-column header img {
    height: 20px;
    margin-right: 10px;
    cursor: grab;
}

.status-column header span.handle {
    display: block;
    height: 18px;
    width: 10px;
    margin-right: 10px;
    background-image: url("../images/grip-dots-vertical-solid.svg");
    background-repeat: no-repeat;
    cursor: grab;
}

.status-column header span:not(.handle) {
    display: block;
    width: 100%;
}

.status-column footer button {
    display: block;
    margin-bottom: 10px;
}

.tasks-list {
    list-style: none;
    padding-left: 0;
}
/* Task
--------------------------------------------------*/
.task {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px var(--task-padding);
    border-left: 5px solid var(--status-color);
}

.task--content,
.task--title {
    padding: 5px 0;
    border: 1px solid rgba(0,0,0,0);
}

.task--title {
    font-size: 1rem;
    margin-bottom: 0;
}

.task--content {
    font-size: 0.9rem;
}